* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Grayish-blue: #8486a9;
  --Soft-red: hsl(345, 95%, 68%);
  --White: hsl(0, 0%, 100%);
  --Dark-desaturated-blue: hsl(236, 21%, 26%);
  --Very-dark-blue: hsl(235, 16%, 14%);
  --Very-dark-mostly-black-blue: hsl(235, 18%, 12%);

  --font-red-hat: 'Red Hat Text', sans-serif;
  --font-size: 14px;
}

body {
  background-color: var(--Very-dark-blue);
  background-image: url(../images/bg-stars.svg);
  font-family: var(--font-red-hat);
  font-size: var(--font-size);
  text-transform: uppercase;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.countdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 200px;
}

.countdown__title {
  color: var(--White);
  font-size: 1.2rem;
  letter-spacing: 6px;
  font-weight: 700;
}

.countdown__timer {
  height: 200px;
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.countdown__timer--container div {
  width: 120px;
  height: 100px;
  background-color: var(--Dark-desaturated-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  border-radius: 5px;
  box-shadow: 7px 7px 7px 0px rgba(25,26,36,1);
}

.countdown__timer__elements {
  width: 100%;
  color: var(--Soft-red);
  font-size: 3rem;
}

.countdown__timer__names {
  color: var(--Grayish-blue);
  letter-spacing: 4px;
}

.social {
  width: 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 40px;
  left: 50%;
  margin-left: -70px;
  z-index: 1;
}

.social__icons:hover {
  color: var(--Soft-red);
}

.wave {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 160px;
  background-repeat: no-repeat;
  background-size: 100% 160px;
  background-image: url(../images/pattern-hills.svg);
}